// colors
$color-base: #0c1c49;
$red-base: #d3072a;
//fonts
$font-family-base: "Futura New", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI";
//font-size
$fs-big: 7vh;
$fs-base: 2.1vh;
//height
// $fullHeight: calc(var(--vh, 1vh) * 100);
$fullHeight: 100vh;
$minHeight: 500px;